@font-face {
    font-family: "Inter-Regular";
    src: url(fonts/Inter/Inter_24pt-Regular.ttf);
}

@font-face {
    font-family: "Inter-Bold";
    src: url(fonts/Inter/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url(fonts/Inter/Inter_24pt-ExtraBold.ttf);
}

@font-face {
    font-family: "Inter-Light";
    src: url(fonts/Inter/Inter_24pt-Light.ttf);
}

@font-face {
    font-family: "Inter-Italic";
    src: url(fonts/Inter/Inter_24pt-Italic.ttf);
}

@font-face {
    font-family: "Medium-Font";
    src: url(fonts/Bokor/Bokor-Regular.ttf);
}

@font-face {
    font-family: "Special-Font";
    src: url(fonts/Protest_Revolution/ProtestRevolution-Regular.ttf);
}



:root {
    --custom-white: #E1DFDA;
    --borders-white: rgba(245, 245, 245, 0.377);
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header header"
    "sidebar content";
    height: 100vh;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

button:hover {
    cursor: pointer;
}

.home-btn {
    width: fit-content;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

input[type="text"] {
    padding: 4px 6px;
    /* width: 100%; */
    border: 1px solid #cacaca;
    border-radius: 6px;
    font-size: 13px;
}

body.white-mode input[type="text"] {
    border: 1px solid black;
}

input[type="text"]:focus {
    outline: 2px solid #ccc;
}

body.white-mode input[type="text"]:focus {
    outline: 2px solid black;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    border-bottom: 0.7px solid var(--borders-white);
}

body.white-mode header {
    background-color: white;
    color: rgb(48, 47, 47);
    border-bottom: 0.7px solid black;
}

.header-appInfo, .header-author {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: var(--custom-white);
}

body.white-mode .header-appInfo, body.white-mode .header-author {
    color: black;
}

.app-name-title {
    margin: 10px;
}

.header-author a {
    font-size: 18px;
    text-decoration: none;
    color: gray;
}

.theme-toggle-btn {
    background: none;
    border: none;
}

.theme-toggle-btn svg {
    /* fill: var(--custom-white);
    stroke: var(--custom-white); */
    filter: invert(1) brightness(0.9);
}

body.white-mode .theme-toggle-btn svg {
    filter: none;
}

body.white-mode a {
    color: black;
}

.header-author a:hover {
    text-decoration: underline;
}

#author-logo, #app-logo {
    border-radius: 50%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    height: 100vh;
    max-width: 280px;
    /* width: 100%; */
    /* position: fixed; */
    background-color: rgb(30, 30, 30);
    border-right: 0.7px solid var(--borders-white);
    overflow-y: auto;
    transform: translateX(0); 
    transition: transform 0.3s ease-in-out;
}

body.white-mode .sidebar {
    background-color: white;
    color: black;
    border-right: 0.7px solid black;
}

.sidebar-title {
    font-family: "Inter-Bold", Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: var(--custom-white);
    margin: 0;
    padding: 0px 10px;
}

body.white-mode .sidebar-title {
    color: black;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    gap: 20px;
    max-width: 300px;
    color: lightgray;
}

body.white-mode .sidebar-content {
    color: black;
}

.new-project-dialog {
    position: absolute;
    inset: auto;
    background: rgb(30, 30, 30);
    color: var(--custom-white);
    border: 1px solid rgb(48, 47, 47);
    box-shadow: 0px 4px 8px rgba(146, 143, 143, 0.2);
    padding: 1rem;
    width: 250px;
    border-radius: 8px;
    z-index: 1000;
}

body.white-mode .new-project-dialog {
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 0px 4px 8px rgba(41, 41, 41, 0.2);

}

.new-project-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.574);
}

.add-project-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
}

.submit-project-btn, .submit-task-btn {
    padding: 2px 10px;
    background-color: white;
    border: none;
    border-radius: 6px;
    transition: opacity 0.3s;
    width: fit-content;
    font-size: 1rem;
    transition: opacity 0.4s ease;
    font-size: 14px;
}

body.white-mode .submit-project-btn, body.white-mode .submit-task-btn {
    background-color: black;
    color: white;
}

.submit-project-btn:hover, .submit-task-btn:hover {
    opacity: 0.7;
}

.submit-project-btn:focus, .submit-task-btn:focus {
    outline: 2px solid #ccc;
}

body.white-mode .submit-project-btn:focus, body.white-mode .submit-task-btn:focus {
    outline: 2px solid white;
}

.project-modal-title {
    font-family: "Inter-Bold", Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
}

.new-task-dialog {
    position: absolute;
    inset: auto;
    background: rgb(30, 30, 30);
    color: var(--custom-white);
    border: 1px solid rgb(48, 47, 47);
    box-shadow: 0px 4px 8px rgba(146, 143, 143, 0.2);
    padding: 1rem;
    border-radius: 8px;
    z-index: 1000;
}

body.white-mode .new-task-dialog {
    background-color: white;
    color: black;
    box-shadow: 0px 4px 8px rgba(41, 41, 41, 0.2);
    border: 1px solid black;
}

.new-task-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.574);
}

.add-task-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
}

.task-modal-title {
    font-family: "Inter-Bold", Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.notes-ul {
    padding: 0;
    text-align: left;
    width: 100%;
    margin: 0;
}

.notes-ul li {
    margin: 8px 0px;
    padding: 4px 10px;
    border-radius: 8px;
    list-style: none;
    font-size: 14px;
    transition: background-color 0.6s ease, transform 0.6s ease;
}

.notes-ul li:hover {
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.251);
}

.content {
    grid-area: content;
    background-color: rgb(48, 47, 47);
    padding: 20px;
    overflow-y: auto;
    transition: margin-left 0.8s ease-in-out;
}

body.white-mode .content {
    background-color: white;
}

.content h2 {
    color: var(--custom-white);
    font-family: "Special-Font", Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

body.white-mode .content h2 {
    color: black;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-project-dialog-btn, .close-task-dialog-btn, .close-dialog-btn {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    border-radius: 5px;
    padding: 12px;
    background: none;
    font-weight: bolder;
    color: var(--custom-white);
    margin: 0;
    transition: background-color 0.5s ease, font-size 0.5s ease;
}

body.white-mode .close-project-dialog-btn, body.white-mode .close-task-dialog-btn, body.white-mode .close-dialog-btn {
    color: black;
}

.close-project-dialog-btn:hover, .close-task-dialog-btn:hover, .close-dialog-btn:hover {
    background-color: rgba(169, 169, 169, 0.304);
    font-size: 0.9rem;
}

.close-project-dialog-btn:focus, .close-task-dialog-btn:focus, .close-dialog-btn:focus {
    outline: none;
    background-color: #cccccc44;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 15px;
    padding: 0px 10px;
    transition: background-color 0.6s ease, transform 0.6s ease;
    overflow-y: auto;
}

.project-container:hover {
    background-color: rgba(211, 211, 211, 0.251);
}

.project-container h2 {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    display: inline-block;
}

.project-container:hover {
    cursor: pointer;
}

.project-buttons-container {
    display: flex;
    gap: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.project-container:hover .project-buttons-container {
    opacity: 1;
    pointer-events: auto;
}

.project-buttons-container button:hover {
    transform: scale(1.1);
    transition: trasnform 0.2s ease-in-out;
}

.tasks-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.5px solid var(--custom-white);
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.25), 
    0 1px 3px rgba(255, 255, 255, 0.15);
    background-color: rgb(30, 30, 30);
    color: var(--custom-white);
    padding: 20px;
    min-width: 250px;
}

body.white-mode .task {
    border: 1px solid black;
    color: black;
    background-color: white;
    box-shadow: 0 3px 6px rgba(67, 66, 66, 0.25), 
    0 1px 3px rgba(96, 95, 95, 0.15);
}

.task-completed-div {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.taskCheckBox {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #ccc;
    background-color: white;
    appearance: none;
    display: inline-block;
}

.taskCheckBox {
    border: 2px solid black;
}

.taskCheckBox:hover {
    cursor: pointer;
}

.taskCheckBox:focus {
    outline: 1px solid #ccc;
}

body.white-mode .taskCheckBox:focus {
    outline: 1px solid black;
}

.taskCheckBox:checked {
    background-color: var(--custom-white);
    border-color: #4caf50;
    color: white;
}

/* body.white-mode .taskCheckBox {
    background-color: black;
} */

.taskCheckBox:checked::after {
    content: '✔';
    color: #4caf50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task.completed > *:not(.task-completed-div) {
    opacity: 0.6;
}

.task.completed .status-span {
    display: inline-block;
    color: green;
    margin-top: 5px;
    font-weight: bold;
}

.task.completed p, .task.completed {
    pointer-events: none;
}

.task-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: auto;
    filter: none;
    opacity: 1 !important;
    margin-top: auto;
}

.edit-delete-btns-container {
    display: flex;
    gap: 10px;
}

.task.disabled {
    pointer-events: none;
}

.task-completed-div {
    filter: none;    
    opacity: 1 !important;      
}

.taskTitle {
    font-size: 18px;
    font-family: "Inter-Bold", Arial, Helvetica, sans-serif;
}

#taskTitle {
    color: black;
}

body.white-mode #taskTitle {
    border: 1px solid black;
}

.taskDescription {
    font-size: 14px;
}

#taskDescription {
    border: 1px solid #cacaca;
    border-radius: 6px;
    font-size: 13px;
    color: black;
}

body.white-mode #taskDescription {
    border: 1px solid black;
}

#taskDescription:focus {
    outline: 2px solid #ccc;
}

body.white-mode #taskDescription:focus {
    outline: 2px solid black;
}

.task-statuses {
    display: flex;
    gap: 8px;
}

.taskProject {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 3px 10px;
    background-color: #C1CAFF;
    color: black;
    font-size: 13px;
    border-radius: 10px;
}

.taskPriority {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 13px;
}

#taskPriority {
    border-radius: 6px;
    padding: 4px;
}

#taskPriority:focus {
    outline: 2px solid #ccc;
}

body.white-mode #taskPriority:focus {
    outline: 2px solid black;
}

.taskDueDate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 13px;
}

#dueDate {
    border-radius: 6px;
    padding: 2px;
    border: 1px solid #cacaca;
}

body.white-mode #dueDate {
    border: 1px solid black;
}

#dueDate:focus {
    outline: 2px solid #ccc;
}

body.white-mode #dueDate:focus {
    outline: 2px solid black;
}

.add-project-btn, .add-task-btn {
    border: none;
    background: none;
    color: var(--custom-white);
    height: 30px;
    width: 30px;
    padding: 0;
}

.add-task-btn {
    background-color: #cacaca;
    border-radius: 50%;
    color: black;
    transition: opacity 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.white-mode .add-project-btn, body.white-mode .add-task-btn {
    color: black;
}

.add-task-btn:hover {
    opacity: 0.6;
}

.add-task-svg, .add-project-svg {
    max-height: 25px;
    border-radius: 6px;
    transition: background-color 0.6s ease, transform 0.6s ease;
}

.add-project-svg:hover {
    background-color: rgba(169, 169, 169, 0.304);
}

.delete-project-btn, .edit-project-btn, .edit-task-btn, .delete-task-btn {
    background: none;
    border: none;
    border-radius: 10px;
    transition: background-color 0.4s ease, transform 0.6s ease;
}

.edit-task-btn:hover, .delete-task-btn:hover {
    background-color: rgba(255, 255, 255, 0.315) ;
}

.trash-icon, .edit-icon {
    background: none; 
    border: none; 
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.trash-icon:hover, .edit-icon:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease-in-out;
}

body.white-mode .icon {
    filter: invert(1) brightness(1.5);
}

.delete-confirmation-modal {
    background-color: rgb(30, 30, 30);
    color: var(--custom-white);
    border: 1px solid rgb(48, 47, 47);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(146, 143, 143, 0.2);
    z-index: 999;
}

.delete-confirmation-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.574);
}

body.white-mode .delete-confirmation-modal {
    background-color: white;
    color: black;
    border: 2px solid black;
    box-shadow: 0px 4px 8px rgba(41, 41, 41, 0.2);
}

.del-modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px 20px 20px;
}

#delete-modal-message {
    font-size: 18px;
    font-weight: bold;
}

.del-modal-options {
    display: flex;
    gap: 8px;
}

#dont-ask-again {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #ccc;
    background-color: white;
    appearance: none;
}

body.white-mode #dont-ask-again {
    border: 1px solid black;
    outline: 1px solid black;
    background-color: white;
    color: black;;
}

#dont-ask-again:checked {
    border: 2px solid #4CAF50; 
    background-color: #4CAF50;
}

#dont-ask-again:focus {
    outline: 3px solid #444343;
}

body.white-mode #dont-ask-again:focus {
    outline: 3px solid #444343;
}

body.white-mode #dont-ask-again:checked {
    border: 2px solid #4CAF50; 
    background-color: #4CAF50;
}

#dont-ask-again:hover {
    cursor: pointer;
    opacity: 0.7;
}

.del-modal-buttons {
    display: flex;
    gap: 10px;
}

#confirm-delete-btn, #cancel-delete-btn {
    padding: 5px 15px;
    background-color: white;
    border: none;
    border-radius: 6px;
    transition: opacity 0.3s;
    width: fit-content;
    font-size: 1rem;
    transition: opacity 0.4s ease;
    font-size: 14px;
}

body.white-mode .submit-project-btn, body.white-mode .submit-task-btn {
    background-color: black;
    color: white;
}

#confirm-delete-btn:hover, #cancel-delete-btn:hover {
    opacity: 0.7;
}

#confirm-delete-btn:focus, #cancel-delete-btn:focus {
    outline: 2px solid #ccc;
}

body.white-mode #confirm-delete-btn, body.white-mode #cancel-delete-btn {
    background-color: black;
    color: white;
}

body.white-mode #confirm-delete-btn:focus, body.white-mode #cancel-delete-btn:focus {
    outline: 2px solid black;   
}

/* Mobile */
.hamburger-btn-container {
    align-items: center;
    justify-content: center;
    display: none;
}

.hamburger-btn {
    color: var(--custom-white);
    background: none;
    border: none;
    z-index: 1000;
    display: none;
}

body.white-mode .hamburger-btn {
    color: black;
}

.sidebar.mobile {
    transform: translateX(-100%);
}

.sidebar.mobile.open {
    padding-top: 50px;
    transform: translateX(0);
}

@media (max-width: 768px) {
    .hamburger-btn {
        display: block;
    }

    .app-name-title {
        font-size: 1.1rem;
    }

    #app-logo {
        width: 35px;
        height: 35px;
    }

    #author-logo {
        width: 30px;
        height: 30px;
    }

    .header-author p a{
        font-size: 0.9rem;
    }

    .sidebar {
        max-width: 70%;
    }

    /* .content {
        margin-left: 0;
    }

    .sidebar.mobile.open + .content {
        margin-left: 70%;
    } */
}

#homePage-title {
    color: var(--custom-white);
}