@font-face {
    font-family: "Inter-Regular";
    src: url(fonts/Inter/Inter_24pt-Regular.ttf);
}

@font-face {
    font-family: "Inter-Bold";
    src: url(fonts/Inter/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url(fonts/Inter/Inter_24pt-ExtraBold.ttf);
}

@font-face {
    font-family: "Inter-Light";
    src: url(fonts/Inter/Inter_24pt-Light.ttf);
}

@font-face {
    font-family: "Inter-Italic";
    src: url(fonts/Inter/Inter_24pt-Italic.ttf);
}

@font-face {
    font-family: "Medium-Font";
    src: url(fonts/Bokor/Bokor-Regular.ttf);
}

@font-face {
    font-family: "Special-Font";
    src: url(fonts/Protest_Revolution/ProtestRevolution-Regular.ttf);
}



:root {
    --custom-white: #E1DFDA;
    --borders-white: rgba(245, 245, 245, 0.377);
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header header"
    "sidebar content";
    height: 100vh;
}

.hidden {
    display: none !important;
}

button:hover {
    cursor: pointer;
}

.home-btn {
    width: fit-content;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    border-bottom: 0.7px solid var(--borders-white);
}

.header-appInfo, .header-author {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: var(--custom-white);
}

.header-author a {
    font-size: 18px;
    text-decoration: none;
    color: gray;
}

.header-author a:hover {
    text-decoration: underline;
}

#author-logo, #app-logo {
    border-radius: 50%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    height: 100vh;
    max-width: 280px;
    background-color: rgb(30, 30, 30);
    border-right: 0.7px solid var(--borders-white);
    overflow-y: auto;
}

.sidebar-title {
    font-family: "Inter-Bold", Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: var(--custom-white);
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    gap: 20px;
    max-width: 300px;
    color: lightgray;
}

.sidebar-footer {
    text-align: center;
    padding: 20px;
}

.projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.content {
    grid-area: content;
    background-color: rgb(48, 47, 47);
    padding: 20px;
}

.content h2 {
    color: var(--custom-white);
    font-family: "Special-Font", Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 15px;
    padding: 0px 6px 0px 6px;
    transition: background-color 0.6s ease, transform 0.6s ease;
}

.project-container:hover {
    background-color: rgba(211, 211, 211, 0.251);
}

.project-container h2 {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    display: inline-block;
}

.project-container:hover {
    cursor: pointer;
}

.project-buttons-container {
    display: flex;
    gap: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.project-container:hover .project-buttons-container {
    opacity: 1;
    pointer-events: auto;
}

.project-buttons-container button:hover {
    transform: scale(1.1);
    transition: trasnform 0.2s ease-in-out;
}

.tasks-container {
    display: flex;
    flex-wrap: wrap;
}

.task {
    border: 0.5px solid var(--custom-white);
    border-radius: 15px;
    box-shadow: 1px 2px 1px 1px var(--custom-white);
    background-color: rgb(30, 30, 30);
    color: var(--custom-white);
    padding: 20px;
    min-width: 200px;
}

.task.completed {
    opacity: 0.6;
}

.task.completed input[type="checkbox"] {
    filter: none;    
    opacity: 1;      
}

.task.completed .status-span {
    display: inline-block;
    color: green;
    margin-top: 5px;
    font-weight: bold;
}

.task.completed p, .task.completed .task-buttons-container {
    pointer-events: none;
}

.task.disabled {
    pointer-events: none;
}

.taskTitle {
    font-size: 1.5em;
    font-weight: bold;
}

.taskDescription {

}

.taskPriority {
    width: fit-content;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
}

.add-project-btn, .add-task-btn {
    border: none;
    background: none;
    color: var(--custom-white);
    height: 30px;
    width: 30px;
    padding: 0;
}

.add-buttons-svg {
    max-height: 25px;
    border-radius: 6px;
    transition: background-color 0.6s ease, transform 0.6s ease;
}

.add-buttons-svg:hover {
    background-color: rgba(169, 169, 169, 0.304);
}

.delete-project-btn, .edit-project-btn {
    background: none;
    border: none;
}

.trash-icon, .edit-icon {
    background: none; 
    border: none; 
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.trash-icon:hover, .edit-icon:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease-in-out;
}

.delete-confirmation-modal {
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#homePage-title {
    color: var(--custom-white);
}